<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
	
</head>
	<nav class="uk-navbar uk-background-secondary uk-light">
		<div class="uk-navbar-left">
		<ul class="uk-navbar-nav">
			<li class="uk-active"><a href="/"><span class="uk-text-large uk-text-capitalize">Pagrindinis</span></a></li>
		</ul>
		</div>
		<div class="uk-navbar-right">
		<ul class="uk-navbar-nav">
			<li class="uk-active uk-text-large"><a href="/register"><span class="uk-text-large uk-text-capitalize">Registruotis</span></a></li>
			<li class="uk-active uk-text-large"><a href="/login"><span class="uk-text-large uk-text-capitalize">Prisijungti</span></a></li>
			</ul>
		</div>

	</nav>
</html>