<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Kalėjimo valdymo sistema</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="./css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>
<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<h3 class="home-heading">Kalėjimo valdymo sistema</h3>
	
		<div class="divider div-transparent"></div>
		
		<div class="home-control-panel">
			<div class="card-body">
				<div class="card-header">
				<h3 class="card-title">Kaliniai</h3>
				<hr class="card-divider">
				</div>
				
				<div class="card-inner-body">
					
					<a href="/prisoner/" class="card-button">Peržiūrėti kalinius</a>
				</div>
			</div>
			
			<div class="card-body">
				<div class="card-header">
				<h3 class="card-title">Prižiūrėtojai</h3>
				<hr class="card-divider">
				</div>
				
				<div class="card-inner-body">
					
					<a href="/supervisor/" class="card-button">Peržiūrėti prižiūrėtojus</a>
				</div>
			</div>
			
			<div class="card-body">
				<div class="card-header">
				<h3 class="card-title">Lankytojai</h3>
				<hr class="card-divider">
				</div>
				
				<div class="card-inner-body">
					
					<a href="/visitor/" class="card-button">Peržiūrėti lankytojus</a>
				</div>
			</div>
		</div>
	
</body>
</html>