<html>
<head>
	<title>Kalinių sąrašas</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
</head>

<body>
	<div th:insert="fragments/navigation.html :: nav"></div>
	<h3 class="prisoners-list-heading">Kalinių sąrašas</h3>
	<div class="divider div-transparent"></div>
	<div class="list-container">
		<div class="general-actions">
			<a sec:authorize="hasAuthority('Vyresnysis prižiūrėtojas')" href="/prisoner/new/" class="general-action-button">Pridėti naują kalinį</a>
			<a sec:authorize="hasAuthority('Vyresnysis prižiūrėtojas')" href="/prisoner/newVisitor/" class="general-action-button">Pridėti lankytoją kaliniui</a>
			<a sec:authorize="hasAuthority('Vyresnysis prižiūrėtojas')" href="/prisoner/newCrime/" class="general-action-button">Pridėti nusikaltimą kaliniui</a>
		</div>
		
		<table>
		<tr>
			<th>Vardas</th>
			<th>Pavardė</th>
			<th>Gimimo metai</th>
			<th>Miestas</th>
			<th>Statusas</th>
			<th>Informacija</th>
			<th>Veiksmai</th>
		</tr>
		<tr th:each="prisoner: ${prisoners}">
			<td th:text="${prisoner.name}"></td>
			<td th:text="${prisoner.surname}"></td>
			<td th:text="${prisoner.birthDate}"></td>
			<td th:text="${prisoner.city.name}"></td>
			<td th:text="${prisoner.status.status}"></td>
			<td><a th:href="'/prisoner/info/' + ${prisoner.id}" class="action-button">Atsisiųsti</a></td>
			<td class="action-row">
				<a sec:authorize="hasAuthority('Vyresnysis prižiūrėtojas')" class="action-button" th:href="'/prisoner/update/' + ${prisoner.id}">Redaguoti kalinį</a>
				<a sec:authorize="hasAuthority('Vyresnysis prižiūrėtojas')" class="action-button" th:href="'/prisoner/delete/' + ${prisoner.id}">Pašalinti kalinį</a>
				<a  class="action-button" th:href="'/prisoner/visitors/' + ${prisoner.id}">Peržiūrėti Lankytojus</a>
				<a class="action-button" th:href="'/prisoner/crimes/' + ${prisoner.id}">Peržiūrėti nusikaltimus</a>
			</td>
		</tr>
		
		</table>
	</div>
</body>
</html>