<html>
<head>
	<meta charset="UTF-8">
	<title>Naujas Lankytojas</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="/css/main.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://npmcdn.com/flatpickr/dist/l10n/lt.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
	</head>
	<body>
		<div th:insert="fragments/navigation.html :: nav"></div>
		<h3 class="home-heading">Naujas Lankytojas</h3>
		<div class="divider div-transparent"></div>
		<div class="container">
			<form class="visitor-form" action="/visitor/new/" th:object="${visitor}" method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
				
				<div class="input-container">
					<label class="label" for="new-visitor-name">Vardas</label>
					<input th:value="*{name}" type="text" class="input" name="name" id="new-visitor-name">
					<div class="error-container" th:if="${#fields.hasErrors('name')}">
						<ul class="error-list">
							<li class="error" th:each="klaida:${#fields.errors('name')}" th:text="${klaida}"></li>
						</ul>
					</div>
				</div>
				
				<div class="input-container">
					<label class="label" for="new-visitor-surname">Pavardė</label>
					<input th:value="*{surname}" type="text" class="input" name="surname" id="new-visitor-surname">
					<div class="error-container" th:if="${#fields.hasErrors('surname')}">
						<ul class="error-list">
							<li class="error" th:each="klaida:${#fields.errors('surname')}" th:text="${klaida}"></li>
						</ul>
					</div>
				</div>
	
				<div class="input-container">
					<label class="label" for="new-visitor-birthdate">Gimimo data</label>
					<input type="text" class="input" name="birthDate" id="new-visitor-birthdate">
					<div class="error-container" th:if="${#fields.hasErrors('birthDate')}">
						<ul class="error-list">
							<li class="error" th:each="klaida:${#fields.errors('birthDate')}" th:text="${klaida}"></li>
						</ul>
					</div>
				</div>
				
				<button type="submit" class="submit-button">Pridėti</button>
			</form>
		</div>
		<script>
			const birthDatePicker = document.querySelector('#new-visitor-birthdate');
			flatpickr(birthDatePicker, {"locale": "lt", "allowInput": true, disableMobile: "true"});
		</script>
	</body>

</html>